

<table>
  <tbody> <%# as per ihub. there is just the commercial name and dates and the name is truncated at some point%>
    <% @commercials.each do |commercial| %>
      <tr>
        <!--<td><%#= link_to (truncate(strip_tags(commercial.name), length: 45)), commercial %></td>
        <td><%#= commercial.location %></td>
        <td><%#= commercial.date %></td><!-- somthing is seriously awful about thsi format, work on it-->
        <!--<td><%#= commercial.start %></td>-->
        <td><%= image_tag commercial.image.url(:thumb) %></td>
        <td><%= commercial.price %></td>
        <td><%= commercial.bedroom %></td>
        <td><%= commercial.amenities %></td>
        <td><%= commercial.description %></td>
        <td><%= commercial.area %></td>
        <td><%= commercial.agent.email%></td>
      </tr>
    <% end %>
  </tbody>
</table>

  
